*.un~
*.swp
*.swo

/Avira/Avira.layout
/Avira/bin/Avira
/Avira/bin/libs/libfmodexp64.so
/Avira/bin/libs/libfmodex.so
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvColorImage.d
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvColorImage.o
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvContourFinder.d
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvContourFinder.o
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvFloatImage.d
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvFloatImage.o
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvGrayscaleImage.d
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvGrayscaleImage.o
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvHaarFinder.d
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvHaarFinder.o
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvImage.d
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvImage.o
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvShortImage.d
/Avira/obj/x86_64Release/addons/ofxOpenCv/src/ofxCvShortImage.o
/Avira/obj/x86_64Release/src/AviraApp.d
/Avira/obj/x86_64Release/src/AviraApp.o
/Avira/obj/x86_64Release/src/Gui.d
/Avira/obj/x86_64Release/src/Gui.o
/Avira/obj/x86_64Release/src/main.d
/Avira/obj/x86_64Release/src/main.o
/Avira/obj/x86_64Release/src/Persona.d
/Avira/obj/x86_64Release/src/Persona.o
/Avira/obj/x86_64Release/src/Renderer.d
/Avira/obj/x86_64Release/src/Renderer.o
/Avira/obj/x86_64Release/src/TrackerVideo.d
/Avira/obj/x86_64Release/src/TrackerVideo.o
